@{
    ViewBag.Title = "Матчи";
    Layout = "_AdminPanelLayout";
}

@model IEnumerable<DAL.Models.Matches>

<div class="mb-2 mt-2">
    <a class="btn btn-success" asp-controller="MatchAdmin" asp-action="Create">Добавить</a>
</div>

<div class="mb-2 mt-2">
    @using (Html.BeginForm())
    {
        <p>
            Find by title: @Html.TextBox("search")
            <input type="submit" value="Search" /></p>
    }
</div>

<table class="table table-bordered">
    <thead>
    <th>ID</th>
    <th>@Html.ActionLink("Тайтл", "Index", new { sortOrder = ViewBag.TitleSortParam })</th>
    <th>Турнир</th>
    <th>Команда 1</th>
    <th>Команда 2</th>
    <th>Спорт</th>
    <th>Результат</th>
    <th>Статус</th>
    <th>Дата</th>
    <th></th>
    </thead>
    <tbody>
    @{
        if (Model.Any())
        {
            foreach (var match in Model)
            {
                <tr>
                    <td>@match.Id</td>
                    <td>@match.Title</td>
                    <td>@match.Tournament</td>
                    <td>@match.Team1</td>
                    <td>@match.Team2</td>
                    <td>@match.Sport</td>
                    <td>@match.Result</td>
                    <td>@match.Status</td>
                    <td>@match.Date</td>
                    <td>
                        <a asp-controller="MatchAdmin" asp-action="Edit" asp-route-id="@match.Id"><i class="fas fa-pen"></i></a>
                        <a asp-controller="MatchAdmin" asp-action="Remove" asp-route-id="@match.Id"><i class="fas fa-trash"></i></a>
                        <a asp-controller="MatchAdmin" asp-action="Confirm" asp-route-id="@match.Id"><i class="fas fa-dollar-sign"></i></a>
                    </td>
                </tr>
            }
        }
    }
    </tbody>
</table>

<ul class="pagination">

@{
    for (int i = 1; i <= Convert.ToInt32(ViewData["pageCount"]); i++)
    {
        <li class="page-item"><a class="page-link" asp-route-sortOrder="@ViewData["sortOrder"]" asp-route-search="@ViewData["search"]" asp-route-page="@i">@i</a></li>
    }
}
</ul>
